{% extends 'admin/base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/libs/chartist/chartist.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <!-- start page title -->
    <h1 align="center">Bienvenue sur le panneau d'administration</h1>
    <!-- end page title -->

    {% include 'admin/includes/footer.html.twig' %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/libs/chartist/chartist.min.js') }}"></script>
    <script src="{{ asset('assets/libs/chartist-plugin-tooltips/chartist-plugin-tooltip.min.js') }}"></script>

    <script src="{{ asset('assets/js/pages/dashboard.init.js') }}"></script>
{% endblock %}