 <div id="cookieconsent">
    <span class="allow">
        <i class="fa fa-times-circle text-white"></i>
    </span>
    <div>
        <p>En poursuivant votre navigation y compris par un « scroll », vous acceptez l’utilisation de cookies, destinés à améliorer la performance de ce site et au bon fonctionnement du site. <a href="" target="" class="link">En savoir plus</a></p>
        <button class="allow">Accepter</button>
    </div>
</div>